@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: rgb(52, 58, 64);
  --highlight-rgb: rgb(255, 193, 7);
  --highlight-alter-rgb: rgb(255, 244, 85);
  --text-100-rgb: rgba(225, 232, 235, 1);
  --text-85-rgb: rgba(225, 232, 235, 0.85);
  --text-70-rgb: rgba(225, 232, 235, 0.7);

}

/*@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}*/

/*body {
    color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}*/